 * {
     margin: 0 auto;
 }
 
 header {
     height: 100vh;
 }
 
 .heading {
     font-family: Pacifico, sans-serif;
     letter-spacing: 3px;
     color: white;
     font-size: 40px;
     text-shadow: 0px 0px 1px #000000, 0px 0px 10px #111111;
 }
 
 .center {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .bg {
     background-image: url(img/hero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .paragraph {
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 200;
     letter-spacing: 1.5px;
     color: rgb(255, 255, 255);
     width: 850px;
     text-align: center;
     padding: 10px;
     margin: 10px 0;
     text-shadow: 0px 0px 1px #000000;
 }
 
 span {
     text-transform: capitalize;
     font-style: italic;
 }
 
 .btn {
     padding: 15px;
     background-color: rgb(250, 243, 235);
     border-radius: 5px;
     border-style: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     cursor: pointer;
 }
 
 .btn:hover {
     text-decoration: underline 2px;
 }
 
 img {
     width: 200px;
     height: 200px;
     border-radius: 100%;
     margin: 30px 0;
 }
 
 .section2 {
     background-color: rgb(243, 243, 243);
     text-align: center;
     height: 90vh;
     font-family: Arial, Helvetica, sans-serif;
     padding: 40px;
     align-items: center;
     justify-content: center;
 }
 
 .activities {
     display: flex;
     width: 700px;
     padding-top: 30px;
     justify-content: space-between;
 }
 
 .text {
     padding: 10px;
     padding-top: 0px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .bg2 {
     background-color: rgb(155, 252, 255);
 }
 
 .section3 {
     height: 50vh;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: antiquewhite;
 }
 
 .card {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 350px;
     border-color: #000000;
     background-color: aliceblue;
     padding: 20px;
     border-radius: 10px;
     margin: 10px;
 }
 
 .pimg {
     width: 100px;
     height: 100px;
 }